.book-slot-container {
  display: flex;
  flex-direction: column;
}

.book-slot-container {
  display: flex;
  flex-direction: column;
}

.book-slot-container form {
  margin-bottom: 20px;
}

.book-slot-container form>* {
  margin: 5px 0;
}

.book-slot-container .mat-radio-button {
  margin: 0 5px;
}
.btn-book-slot {
    width: 15%;
}