.day-view-container {
    margin: 20px 50px 0px 50px;
}
.app-list-item {
    border: 1px solid #009688;
    margin-bottom: 2px;
}
.app-list-item.active {
    background-color: #95cc9c;
}
.app-list-item.disabled {
    background-color: #ea728a;
}