.calendar-main {
  margin: 20px 100px 0px 100px;
  border: 3px solid #009688;
}

.app-grid-item {
  background-color: white;
  border: 1px solid aliceblue;
}

.app-grid-item.disabled {
  background-color: gainsboro;
}

.app-grid-item.active {
  background-color: aliceblue;
}

.date-text {
  width: 100%;
  position: absolute;
  top: 10px;
  left: 0px;
}

.date-text .day{
  background: cornsilk;
  border: 1px solid darkgrey;
  border-radius: 47%;
  padding: 6px;
  margin: 5px;
}

.date-text .action {
  float: right;
  padding: 3px;
  cursor: pointer;
}

.slot-status {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.meeting-text {
  margin: 3px;
  border: 1px solid green;
  border-radius: 10px;
  padding: 3px;
  background: antiquewhite;
}

.app-book-slot {
  color: #009688;
  font-weight: 700;
  cursor: pointer;
}
