<div class="calendar-main">
  <mat-grid-list cols="4" rowHeight="150px" rowWidth="100px">
    <mat-grid-tile *ngFor="let day of days" colspan="1" rowspan="1" class="app-grid-item" [ngClass]="{'disabled': day < today, 'active': day === today}">
      <div class="date-container">
        <div class="date-text">{{day}}</div>
        <div class="slot-status">
          <span class="meeting-text">RoomA(2 hrs)</span>
          <span class="meeting-text">RoomB(4 hrs)</span>
          <!-- <span class="meeting-text">Metting RoomA 2/24</span>
          <span class="meeting-text">Metting RoomA 2/24</span> -->
          <span (click)="handleGridClick(day)" class="app-book-slot">
            <i class="material-icons">add</i>
          </span>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
