<mat-toolbar>
  <mat-toolbar-row>
    <span (click)="changeMonthHandler('prev')" class="prev-icon">
      <i class="material-icons">keyboard_arrow_left</i>{{getMonthStr(prevMonth)}}
    </span>
    <span class="spacer">Calender View ( {{getMonthStr(activeMonth)}} - {{activeYear}} )</span>
    <span (click)="changeMonthHandler('next')" class="next-icon">
        {{getMonthStr(nextMonth)}}<i class="material-icons">navigate_next</i>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="calendar-main">
  <mat-grid-list cols="4" rowHeight="150px" rowWidth="100px">
    <mat-grid-tile *ngFor="let day of days" colspan="1" rowspan="1" class="app-grid-item" [ngClass]="{'disabled': ((activeMonth === currentMonth && day < today) || activeMonth < currentMonth), 'active': activeMonth === currentMonth && day === today}">
      <div class="date-container">
        <div class="date-text">
          <span class="day">{{day}}</span>
          <span class="action app-book-slot">
            <i *ngIf="getBookedSlotHours(day).length > 0" (click)="viewBookedSlots(day)" class="material-icons">view_list</i>
            <i *ngIf="!((activeMonth === currentMonth && day < today) || activeMonth < currentMonth)" (click)="bookSlotClickHandler(day)" class="material-icons">add</i>
          </span>
        </div>
        <div class="slot-status">
          <span *ngFor="let slot of getBookedSlotHours(day)" class="meeting-text">{{getSlotName(slot[0])}} {{slot[2]}} hour(s)</span>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
